<!-- Footer Section -->
<footer class="text-white py-3" style="background-color: #A17C2A;">
    <div class="container d-flex flex-column align-items-center">
        <!-- Footer Text -->
        <p class="mb-1 fs-7">Maria Karra &copy; 2025</p>
        <!-- Footer Social Media Icons -->
        <div class="d-flex">
            <a href="mailto:MariaKarra2001@gmail.com" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-envelope"></i></a>
            <a href="https://www.instagram.com/mariakarra222/?__pwa=1" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-instagram"></i></a>
            <a href="https://open.spotify.com/artist/6lfL1zlYt8OfR49FD6Cmbn?si=pGgHgYZCR4-qnL-8-2Eb0g" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-spotify"></i></a>
            <a href="https://music.apple.com/us/artist/karrma/1708261563" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-apple"></i></a>
            <a href="https://www.facebook.com/MariaKarra2001" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-facebook"></i></a>
        </div>
    </div>
</footer>