<!-- Footer Section -->
<footer class="text-white py-3" style="background-color: #A17C2A;">
    <div class="container d-flex flex-column align-items-center">
        <!-- Footer Text -->
        <p class="mb-1 fs-7">Maria Karra &copy; 2025</p>
        <!-- Footer Social Media Icons -->
        <div class="d-flex">
            <a href="#" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-envelope"></i></a>
            <a href="#" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-spotify"></i></a>
            <a href="#" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-apple"></i></a>
            <a href="#" class="text-white mx-3 mx-md-4 mx-lg-5 fs-4 media-icons"><i class="bi bi-facebook"></i></a>
        </div>
    </div>
</footer>