<!-- Header Section -->
<header id="navbar" class="text-white py-4 sticky-top navbar-shadow" style="background: linear-gradient(to bottom, #A17C2A 50%, rgba(161, 124, 42, 0.3) 100%);">
    <div class="container d-flex justify-content-between align-items-center header-content">
        <!-- Logo -->
        <h1 class="h4 mb-0">Maria Karra</h1>
        <!-- Navigation Menu -->
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/" class="nav-link text-white mx-1 fs-5 <%= currentPage === 'home' ? 'active' : '' %>">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link text-white mx-1 fs-5 <%= currentPage === 'about' ? 'active' : '' %>">About</a>
                </li>
                <li class="nav-item">
                    <a href="/work" class="nav-link text-white mx-1 fs-5 <%= currentPage === 'work' ? 'active' : '' %>">Work</a>
                </li>
            </ul>
        </nav>
        <!-- Social Media Icons -->
        <div class="social-icons d-flex">
            <a href="#" class="media-icons text-white mx-3 fs-5"><i class="bi bi-instagram"></i></a>
            <a href="#" class="media-icons text-white mx-3 fs-5"><i class="bi bi-facebook"></i></a>
        </div>
    </div>
</header>